.webbshoppApp {
  padding: 10px 10px 10px;
}

.searchWrapper {
  gap: 10px;
  margin: 10px 10px 10px 10px;
}

.result {
  display: flex;
  flex-wrap: wrap;
}

.result > div > :nth-child(1) {
  display: flex;
}

img {
  height: 200px;
  width: 90px;
  display: inline-block;
}
