.webbshoppApp {
  padding: 20px 20px 20px;
}

.searchWrapper {
  gap: 10px;
  margin: 10px 10px 10px 10px;
}

.result {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

img {
  height: auto;
  width: 90px;
  justify-content: center;
}
