.cartItem {
  border: 1px solid rgb(205, 205, 205);
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  box-shadow: 5px 5px 5px lightgray;
}

.countInput {
  width: 50px;
  height: 20px;
  border: rgb(176, 172, 172) solid 1px;
  border-radius: 5px;
}
